@page "/"
@namespace Crosso.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crosso</title>
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />


    <script>
    window.initMaterialDropdowns = () => {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems);
    };
    window.initMaterialModals = () => {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    };
    window.scrollScrollbarToBottom = (targetElemID) => {
        var targetElem = document.getElementById(targetElemID);
	    targetElem.scrollTop = targetElem.scrollHeight;
    };
    
    </script>

</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/c842ffe55b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/mobile-detect@1.4.4/mobile-detect.min.js"></script>

</body>
</html>
